*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  color: black;
  background: white;
  display: flex;
  font-family: 'Outfit', sans-serif;
}

button, input, select, option {
  font-family: inherit;
}
