:root {
	--idona: #ef5640;
	--tenos: #00d8ec;
	--velara: #2aed02;
	--wendarr: #f7bb00;

	--omega: #b3cf5d;
	--challenge: #5f559a;

	--spacing-100: 4px;
	--spacing-200: 8px;
	--spacing-300: 12px;
	--spacing-400: 16px;
	--spacing-500: 20px;
	--spacing-600: 24px;
	--spacing-700: 28px;
	--spacing-800: 32px;
	--spacing-900: 40px;
}